*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
        url(images/header.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
} 
.nav-links ul li:hover::after{
    width:100%
} 
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}  
.text-box h1{
    font-size: 62px;
    color:#fff;
}
.text-box p1{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}
.text-box p2{
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 40px;
    }
    .text-box p1{
        font-size: 16px;
    }
    .text-box p2{
        font-size:12px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*-------------------about us------------------*/
.aboutus{
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
h2{
    color: #000;
    font-size: 40px;
    font-weight: 600;
}
p1{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
p2{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px; 
}

.row{
    margin: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 31%;
    background: #f5e9d5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 70px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-col:hover{
    box-shadow: 0 0 20px 10px rgba(12, 11, 11, 0.84);
}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #1c3f60;
    border: 1px solid #1c3f60;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn1:hover{
    border: 1px solid #1c3f60;
    background: #758785;
    transition: 1s;
}
@media(max-width: 700px){
   .row{
    flex-direction: column;
   }
}



    /*-------------------help-------------------------*/

    .help{
        width: 90%;
        margin: auto;
        text-align: center;
        padding-top: 0;
    }
    h4{
        font-size: 40px;
        color: #000;
    }
    p1{
        font-size: 16px;
    }
    .help-col{
        flex-basis: 31%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
    }
    .help-col img{
        width: 100%;
        border-radius: 10px;
    }
    .help-col h5{
        font-size: 17px;
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;
    }
    .help-col p2{
        padding: 0;
        font-size: 14px;
    }

    /*------------------------------------testimonials----------------------------------*/
    .testimonials{
        width: 90%;
        margin: auto;
        padding: 10px 12px; 
        text-align: center;
    }
    .testimonial-col{
        flex-basis: 40%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        background: #fff3f3;
        padding: 25px;
        cursor: pointer;
        display: flex;
    }
    .testimonial-col img{
        height: 40px;
        margin-left: 5px;
        margin-right: 30px;
        border-radius: 50%;
    }
    .testimonial-col p{
        padding: 0;
    }
    .testimonial-col h3{
        margin-top: 15px;
        text-align: left;
    }
    .testimonial-col .fa{
        color:#f44336;
    }
    @media(max-width: 700px){
        .testimonial-col img{
            margin-left: 0px;
            margin-right: 15px;
        }
    }

    /*--------------------contacts---------------------*/
     
    .cta{
        margin: 25px auto;
        width: 80%;
        text-align: center;
        background: #1f2c2e;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contact.png);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        text-align: center;
        padding: 100px 0;
    }
    
    .cta h6{
        color: #fff;
        margin-bottom: 100px;
        padding: 100;
        font-size: 50px;
        font-weight: 600;

    }
    @media(max-width: 700px){
        .cta h6{
            font-size: 24px;
        }
    }

/*-----------------------------------footer-------------------------------*/
    
.footer{
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
.footer h7{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}    
.footer p3{
    font-size: 14px;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}
   
/*------------------------about us page--------------------------*/        

  .sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about\ us\ bg.png.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }  
  .sub-header h1{
    margin-top: 50px;
  }

  .about-us{
    font-size: 20px;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .about-col2{
    flex-basis: 45%;
    padding: 30px 2px;
    
  }

  .about-col2 img{
    width: 100%;
  }

  .about-col2 h1{
    padding-top: 0;
  }

  .about-col2 p{
    padding: 15px 0 25px;
    font-size: 15px;
  }

  .red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
  }

  .red-btn:hover{
    color: #fff;
  }

  /*-------------------------------contact us page-----------------------------*/

  .location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
  }

  .location iframe{
    width: 100%;
  }

  .contact-us{
    width: 80%;
    margin: auto;
  }

  .contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
  }

  .contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
  }

  .contact-col div p{
    padding: 0;
  }

  .contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
  }

  .contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .hero-btn2{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn2:hover{
    border: 1px solid #fff;
    color: #fff;
    background: #f44336;
    transition: 1s;
}

/*-------------------------------------Blog Page------------------------------*/

.container3{
    width: 96%;
    max-width: 117rem;
    margin: 0 auto;
}

.hero{
    max-width: 114rem;
    height: 40rem;
    background: url(images/Child\ labor.png) no-repeat center center / cover;
    margin: 5rem auto;
}

main{
    width: 100%;
    max-width: 80rem;
    background-color: #f5e9d5;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1.5rem;
    margin-top: -15rem;
}

main h9{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

main .profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

main .profile-container .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .profile-container .profile .img-container{
    width: 6rem;
    height: 6rem;
    background: url(images/user\ gray\ bg.png) no-repeat center center / cover;
    border-radius: 0.5rem;
}

main .profile-container .profile .text{
    margin: 0 1rem;
    color:rgba(12, 11, 11, 0.84);
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.profile .text h10{
    text-transform: uppercase;
}
.fa-heart-o{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o:hover{
    color:#f44336;
}

main p5{
    color:rgba(12, 11, 11, 0.84);
    margin: 1rem 0;
}
main .content h11{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(12, 11, 11, 0.84);
    margin: 2rem 0;
}
main .content .content-img-container{
    width: 100%;
    height: 35rem;
    background: url(images/Children\ in\ India.jpg) no-repeat center center / cover;
}

blockquote{
    font-size: 1.4rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 #1c3f60;
    background:#ccc;
}
.tags{
    display:flex;
    align-items: center;
}
.tags p{
    font-size: 1.1rem;
    text-transform: capitalize;
}
.tags a{
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: #fff;
    color:#1c3f60;
    font-size: 0.8rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
}
.articles{
    width: 100%;
    background-color: #1d3b581e;
    margin: 2rem 0;
    padding: 5rem 0;
}
.articles .article-heading{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: relative;
}
.article-heading h12{
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    color: rgba(223, 223, 223, 0.405);
}
.article-heading h13{
    font-size: 4rem;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5b5963;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
    padding: 10px 12px;
    gap: 5rem;
}

.cards .card-container{
    cursor: pointer;
    transition: all 0.4s ease;
}
.cards .card-container .img-holder{
    max-width: 100%;
    height: 24rem;
    background: url(images/elderly.jpg) no-repeat center center/cover;
    position: relative;
}
.cards .card-container.two .img-holder{
    background: url(images/widow.jpg) no-repeat center center/cover;
}
.cards .card-container.three .img-holder{
    background: url(images/underprivileged.jpg) no-repeat center center/cover;
}
.cards .card-container .img-holder a{
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 0.3rem 1.5rem;
    display: inline-block;
    color:#1c3f60;
    font-weight: 400;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    right: 5%;
    transition: all 0.4s ease;
}

.cards .card-container:hover{
    transform: translateY(-1rem);
}
.cards .card-container:hover a{
    background-color: #f44336;
    color: #fff;
}
.cards .card-container .card-text{
    background-color: #fff;
    padding: 10px 12px;
    box-shadow: 0 0 0.3rem grey;
}
.cards .card-container .card-text h12{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.cards .card-container .card-text p6{
    font-size: 0.8rem;
}

.articles .button{
    margin: 0 auto;
    text-align: center;
}
.articles .btn{
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: none;
    padding: 0.5rem 3rem;
}
.articles .btn{
    display: inline-block;
    text-decoration: none;
    color: #555;
    border: 4px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.articles .btn:hover{
    border: 4px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width: 768px){
    main{
        padding: 0;
        margin: 0;
    }
}
 
@media(max-width: 768px){
    .cards{
        flex-direction: column;
    }
}

@media(max-width:567px){
    .article-heading h12{
        font-size: 6rem;
    }
}

/*-------------------------------Organisations page-------------------------------------*/
#organisation{
    padding: 10px 12px;
}
.org-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}
.org{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.org img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #0e0232);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 300;
    margin-bottom: 20px;
    
}
.layer a{
    margin-top: 20px;
    color:#fff;
    text-decoration: none;
    font-size: 28px;
    line-height: 60px;
    background: #1c3f60;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.org:hover img{
    transform: scale(1.1);
}
.org:hover .layer{
    height: 100%;
}

#organisations{
    padding: 10px 12px;
}
.organ-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}
.organ{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.organ img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #0e0232);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 300;
    margin-bottom: 20px;
    
}
.layer a{
    margin-top: 20px;
    color:#fff;
    text-decoration: none;
    font-size: 28px;
    line-height: 60px;
    background: #1c3f60;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.organ:hover img{
    transform: scale(1.1);
}
.organ:hover .layer{
    height: 100%;
}


